<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Uploaded Questions</title>
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th,
      td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #f4f4f4;
      }
      .container {
        margin: 20px;
      }
      .delete-button,
      .fill-other-button,
      .delete-form {
        display: inline; /* Ensure forms are inline for delete buttons */
      }
    </style>
  </head>
  <body>
    <div class="container">
      <!-- 데이터베이스 삭제 버튼 -->
      <form
        action="{% url 'questions:delete_all_questions' %}"
        method="post"
        class="delete-button"
      >
        {% csrf_token %}
        <button type="submit">데이터 전부 삭제</button>
      </form>

      <!-- 빈칸을 'Other'로 채우는 버튼 -->
      <form
        action="{% url 'questions:fill_other' %}"
        method="post"
        class="fill-other-button"
      >
        {% csrf_token %}
        <button type="submit">빈공간 기타 추가 'Other'</button>
      </form>

      <!-- 질문 개수 표시 -->
      <p>Total Questions: {{ question_count }}</p>

      <!-- 질문 리스트 -->
      <table>
        <thead>
          <tr>
            <th>Question ID</th>
            <th>Question Title</th>
            <th>Category</th>
            <th>Sub-category</th>
            <th>file_name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for question in questions %}
          <tr>
            <td>{{ question.question_id }}</td>
            <td>{{ question.question_title }}</td>
            <td>{{ question.category }}</td>
            <td>{{ question.sub_category }}</td>
            <td>{{ question.file_name}}</td>
            <td>
              {% if question.question_id %}
              <form
                action="{% url 'questions:delete_question' question.question_id %}"
                method="post"
              >
                {% csrf_token %}
                <button type="submit">Delete</button>
              </form>
              {% else %}
              <p>No ID available.</p>
              {% endif %}
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="5">No questions available.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
